.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: var(--border-primary);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}
  
.filter_row {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	margin-top: 1rem;
}
  
	.search {
		align-items: center;
		justify-content: center;
		width: 40%;
		height: 3rem;
		padding: 0.7rem 1rem;
		border: var(--border-secondary);
		border-radius: var(--border-size-sm);
		margin-bottom: 1rem;
		font-size: 1rem;
	}

	.filter {
		display: flex;
		align-items: center;
		gap: 2rem;
	}

	.button {
		height: 3rem;
		padding: 0.7rem 1rem;
	}

  
.tableWrapper {
	display: flex;
	flex-direction: column;
	width: 100%; 
	padding: 1rem;
	border-radius: var(--border-size-md); 
	box-shadow: var(--shadow-md);
}
  
.pagination {
	display: flex;
	justify-content: center;
	list-style: none;
	gap: 0.5rem;
	padding: 1rem 0;
  }
  
.pageItem {
	margin: 0;
}

.pageLink {
	padding: 0.4rem 0.8rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}

.active .pageLink {
	background-color: #1C4A6EFF;
	color: #fff;
	border-color: #1C4A6EFF;
}

.dateWrapper {
	position: relative;
	display: inline-flex;
	align-items: center;
}

.dateButton {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: auto;
	padding: 0.75rem 2.5rem 0.75rem 1rem;
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-text-md);
	line-height: var(--line-height-text-md);
	font-weight: var(--font-weight-xs);
	background: #ffffff;
	border-radius: 6px;
	border: 1px solid #DEE1E6FF;
	outline: none;
}

.dateIcon {
	height: 1rem;
	width: 1rem;
	position: absolute;
	right: 0.75rem;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	color: #565D6DFF; 
}

.dropdownContainer {
	position: relative;
}

.dropdownButton {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: white;
	cursor: pointer;
	font-size: 0.95rem;
	transition: all 0.2s;
}

.dropdownButton:hover {
	background-color: #f9f9f9;
}

.dropdownIcon {
	width: 1rem;
	height: 1rem;
}

.dropdownMenu {
	position: absolute;
	top: 110%;
	left: 0;
	width: 100%;
	background: white;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	z-index: 10;
}

.dropdownMenu li {
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: background-color 0.2s;
}

.dropdownMenu li:hover {
	background-color: #f2f2f2;
}


  