.sidebar {
	display: flex; 
	flex-direction: column; 
	font-family: Inter; /* Body */
	font-size: 14px; 
	line-height: 22px; 
	font-weight: 400; 
	width: 256px; 
	height: 100%;
	flex-shrink: 0;
	background: #FFFFFFFF; /* white */
	border-radius: 0px; 
	border-width: 1px; 
	border-color: #DEE1E6FF; /* neutral-300 */
	border-style: solid; 
}

.tab {
	padding: 16px; 
	display: flex; 
	align-items: center; 
	justify-content: flex-start; 
	color: #565E6CFF; /* neutral-600 */
	background: transparent;
	border-radius: 0px; 
	gap: 8px; 
	cursor: pointer; 
	white-space: nowrap; 
	text-decoration: none;
	transition: background 0.2s, color 0.2s;
}

.tab:hover {
	color: var(--color-primary);
	background: #E9ECEF;
}

.tab:hover:active {
	color: var(--color-primary);
	background: #E9ECEF; /* primary-200 */
}


.activeTab {
	background: #E9ECEF; /* primary-200 */
	color: var(--color-primary);
}


.iconWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
}
