.body {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* 2 input field in one row */
.card_row_2 {
	display: flex;
	width: 100%;
	gap: 1rem;
}

/* 1 input field in one row */
.card_row_1 {
	width: 100%;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
	margin-top: 2rem;
}