.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	width: auto; 
	height: 3rem; 
	opacity: 1; 
	border: none; 
	border-radius: 0.5rem; 
	padding: 0 12px;
	font-family: Inter;
	cursor: pointer;
	transition: background 0.2s;
}

.btn .icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.sm {
	font-size: 0.75rem;
	padding: 4px 10px;
}

.md {
	font-size: 1rem;
	font-weight: 500;
}

.lg {
	font-size: 16px;
	padding: 12px 20px;
}

.primary {
	color: #FFFFFF; 
	background: #1C4A6EFF; 
}
.primary:hover:not(:disabled) {
	background: #073B4C; 
}

.secondary {
	color: #171A1FFF; 
	background: #FFFFFF; 
	border: 1px solid #DEE1E6FF; 
}
.secondary:hover:not(:disabled) {
	background-color: #E9ECEF;
}

.danger {
	background-color: #dc2626;
	color: #fff;
	border: 1px solid #b91c1c;
}
.danger:hover:not(:disabled) {
	background-color: #b91c1c;
}

.outline {
	background-color: transparent;
	color: #374151;
	border: 1px solid #d1d5db;
}
.outline:hover:not(:disabled) {
	background-color: #f9fafb;
}

.btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
  