/* Container.module.css */
.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: start;
	width: 100%;
	height: auto;
	background: #FFFFFFFF;
	/* white */
	border-radius: var(--border-size-md);
	box-shadow: var(--shadow-lg);
	padding: 2rem;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}

.field {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.2rem;
}

.label {
	font-family: var(--font-family-inter);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-md);
	color: var(--color-primary);
}

.input {
	width: 100%;
	font-family: var(--font-family-inter);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-sm);
	background: #FFFFFFFF;
	/* white */
	border-radius: var(--border-size-sm);
	border: var(--border-secondary);
	outline: none;
	padding: 0.5rem;
}

/* hover */
.input:hover {}

/* focused */
.input:focus {
	border-color: var(--color-primary);
	/* neutral-300 */
}

/* disabled */
.input:disabled {}

.input_error {
	border-color: #E53E3E;
	background: #FFF5F5;
}

.error_text {
	font-size: var(--font-size-sm);
	color: #E53E3E;
	margin-top: 2px;
}

.passwordWrapper {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
}

.passwordToggle {
	position: absolute;
	right: 10px;
	background: none;
	border: none;
	cursor: pointer;
	color: var(--color-secondary);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.passwordToggle:hover {
	color: var(--color-primary);
}


.info_field {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}

.info_label {
	font-size: 14px;
	font-weight: 500;
	color: #565D6DFF;
	margin-bottom: 4px;
}

.info_value {
	font-size: 16px;
	font-weight: 400;
	color: #171A1FFF;
}