.page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: white;
	padding: 36px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 32px;
	width: 450px; 
	height: auto; 
	background: #FFFFFFFF; /* white */
	border-radius: 10px; 
	box-shadow: 0px 8px 17px #171a1f26, 0px 0px 2px #171a1f1F; /* shadow-l */
}

.logo{
	justify-content: center;
	align-items: center;
	margin-top: 24px;
	margin-bottom: 24px;
}

.title{
	align-items: center;
	justify-content: center;
}
	.title h1{
		font-family: Roboto; 
		font-size: 24px; 
		line-height: 32px; 
		font-weight: 700; 
		color: #171A1FFF; /* neutral-900 */
	}

.form {
	display: flex;
	flex-direction: column;
	padding: 40px;
	align-items: flex-start;
	justify-self: center;
	text-align: left;
}
	.form input {
		width: 384px; 
		height: 49px; 
		padding-left: 12px; 
		padding-right: 12px; 
		font-family: Inter; 
		font-size: 14px; 
		line-height: 22px; 
		font-weight: 400; 
		background: #FFFFFFFF; /* white */
		border-radius: 6px; 
		border-width: 1px; 
		border-color: #DEE1E6FF; /* neutral-300 */
		border-style: solid; 
		outline: none; 
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.form label {
		text-align: left; 
		font-family: Inter; 
		font-size: 14px; 
		line-height: 22px; 
		font-weight: 500; 
	}
	/* hover */
	.form input:hover {
		color: #565D6DFF; 
		background: #FFFFFFFF; /* white */
		border-color: #DEE1E6FF; /* neutral-300 */
	}
	/* focused */
	.form input:focused {
		color: #565D6DFF; 
		background: #FFFFFFFF; /* white */
		border-color: #DEE1E6FF; /* neutral-300 */
	}
	/* disabled */
	.form input:disabled {
		color: #565D6DFF; 
		background: #FFFFFFFF; /* white */
		border-color: #DEE1E6FF; /* neutral-300 */
	}
	.form :disabled + .icon, .textbox :disabled + .icon + .icon {
		fill: #565D6DFF; 
	}

.resetButton {
	width: 384px; 
	height: 40px; 
	padding: 0 12px; 
	font-family: Roboto; 
	font-size: 14px; 
	line-height: 22px; 
	font-weight: 500; 
	color: #FFFFFFFF; /* white */
	background: #1C4A6EFF; 
	opacity: 0.5; 
	border: none; 
	border-radius: 6px; 
}
	/* Hover */
	.resetButton:hover {
		color: #FFFFFFFF; /* white */
		background: #102C42FF; 
	}
	/* Pressed */
	.resetButton:hover:active {
		color: #FFFFFFFF; /* white */
		background: #0C1E2CFF; 
	}
	/* Disabled */
	.resetButton:disabled {
		opacity: 0.4; 
	}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	width: 100%;
	margin-top: 10px;
}

/* go to login page button */
.goBackButton {
	width: auto; 
	height: 22px; 
	padding: 0 12px; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-family: Roboto; 
	font-size: 14px; 
	line-height: 22px; 
	font-weight: 600; 
	color: #004080FF; 
	background: #00000000; /* transparent */
	opacity: 1; 
	border: none; 
	border-radius: 0px 0px 0px 0px; 
}
	/* Hover */
	.goBackButton:hover {
		color: #1C4A6EFF; 
		background: #EEF5FBFF; 
	}
	/* Pressed */
	.goBackButton:hover:active {
		color: #1C4A6EFF; 
		background: #E1EEF8FF; 
	}
	/* Disabled */
	.goBackButton:disabled {
		opacity: 0.4; 
	}