
.overview {
	display: flex;
	width: 100%; 
	height: 20%;
	align-items: center;
	justify-content: space-between;
}

	.card {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20%; 
		height: auto; 
		background: #FFFFFFFF; /* white */
		border-radius: var(--border-size-md); 
		border: var(--border-primary);
		box-shadow: var(--shadow-md);
		padding: 2rem 1rem;
		gap: 2rem;
	}
		.c1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1rem;
		}
			.text {
				font-family: var(--font-family-primary);
				font-size: 1rem; 
				font-weight: 500; 
				color: var(--color-grey); 
			}
		.c2 {
			font-family: var(--font-family-primary);
			font-size: 2.6rem; 
			font-weight: 700; 
			color: var(--color-black);
		}

.actions {
	display: flex;
	gap: 2rem;
	align-items: flex-start;
}

	.action {
		padding: 0.2rem 0rem;
		display: flex; 
		align-items: center; 
		justify-content: center; 
		font-family: var(--font-family-primary); 
		font-size: 1rem; 
		font-weight: 500; 
		color: var(--color-black);
		opacity: 1; 
		gap: 0.6rem; 
	}


.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
}

.activity {
	width: 100%; 
	flex: 1;
	flex-direction: column;
	background: #FFFFFFFF; /* white */
	border-radius: var(--border-size-md); 
	border: var(--border-primary);
	box-shadow: var(--shadow-md);
	padding: 1.5rem 2rem;
}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0.8rem;
		gap: 1.5rem;
	}
		.row {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			font-family: var(--font-family-primary); /* Body */
			font-size: var(--font-size-md); 
			font-weight: 400; 
			padding: 0.3rem 0rem;
			color: var(--color-black); /* neutral-900 */
		}

		.left {
			display: flex;
			gap: 0.6rem;
			align-items: center;
		}

		.time {
			display: flex;
			font-family: var(--font-family-primary);
			font-size: var(--font-size-md); 
			font-weight: 400; 
			color: var(--color-grey); 
		}
